/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 25px 0;
  border: none;
}
.input {
  display: flex;
  align-items: center;
  width: 272px;
  justify-content: center;

  flex-shrink: 0;
  margin-right: 8px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}
.input:hover {
  border: 1px solid #000;
}
.input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}
.input.text {
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding-left: 16px;
}
.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: background-color 300ms linear, color 300ms linear;
}
.button-search:hover {
  background: #6c8cff;
  color: #fff;
}
.container {
  max-width: 1440px;
  height: auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  /* width: calc((100% - 24px * 2) / 3); */
}

.loading-text {
  display: flex;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  flex-direction: column;
  align-items: center;
}
